body {
    margin: 0;
    overflow: hidden;
    font-family: Arial;
    background: linear-gradient(#70c5ce, #cfefff);
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
    background: transparent;
}

#gameOverScreen {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}